<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>FastFood 24h</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/home/img/favicon.ico">

    <!-- CSS
    ========================= -->
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/assets/home/css/plugins.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/assets/home/css/style.css">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">*@
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- CSS
    ========================= -->
    <style>
        body {
            font-family: Arial, cursive;
        }
    </style>

    @RenderSection("css", required: false)
</head>

<body>

    <!--Offcanvas menu area start-->
    <div class="off_canvars_overlay"></div>
    <div class="Offcanvas_menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="canvas_open">
                        <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                    </div>
                    <div class="Offcanvas_menu_wrapper">
                        <div class="canvas_close">
                            <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                        </div>
                        <div class="antomi_message">
                            @{Html.RenderAction("Toploginrespon", "Home");}
                        </div>
                        @*<div class="header_top_settings text-right">
                                <ul>
                                    <li><a href="#">Store Locations</a></li>
                                    <li><a href="#">Track Your Order</a></li>
                                    <li>Hotline: <a href="tel:+0123456789">0123456789 </a></li>
                                    <li>Quality Guarantee Of Products</li>
                                </ul>
                            </div>*@
                        <div class="search_container">
                            <form action="#">
                                @*<div class="hover_category">
                                        <select class="select_option" name="select" id="categori1">
                                            <option selected value="1">All Categories</option>
                                            <option value="2">Accessories</option>
                                            <option value="3">Accessories & More</option>
                                            <option value="4">Butters & Eggs</option>
                                            <option value="5">Camera & Video </option>
                                            <option value="6">Mornitors</option>
                                            <option value="7">Tablets</option>
                                            <option value="8">Laptops</option>
                                            <option value="9">Handbags</option>
                                            <option value="10">Headphone & Speaker</option>
                                            <option value="11">Herbs & botanicals</option>
                                            <option value="12">Vegetables</option>
                                            <option value="13">Shop</option>
                                            <option value="14">Laptops & Desktops</option>
                                            <option value="15">Watchs</option>
                                            <option value="16">Electronic</option>
                                        </select>
                                    </div>*@
                                <div class="search_box">
                                    <input placeholder="Tìm sản phẩm..." type="text">
                                    <button type="submit">Tìm kiếm</button>
                                </div>
                            </form>
                        </div>
                        <div id="menu" class="text-left ">
                            @{Html.RenderAction("MainMenuRespon", "Home");}
                        </div>
                        <div class="Offcanvas_footer">
                            <span><a href="#"><i class="fa fa-envelope-o"></i> demo@example.com</a></span>
                            <ul>
                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="pinterest"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Offcanvas menu area end-->
    <!--header area start-->
    <header>
        <div class="main_header header_seven">
            <div class="container">
                <!--header top start-->
                @*<div class="header_top">
                        <div class="row align-items-center">
                            <div class="col-lg-4 col-md-5">
                                <div class="antomi_message">
                                    <p>Get free shipping – Free 30 day money back guarantee</p>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-7">
                                <div class="header_top_settings text-right">
                                    <ul>
                                        <li><a href="#">Store Locations</a></li>
                                        <li><a href="#">Track Your Order</a></li>
                                        <li>Hotline: <a href="tel:+0123456789">0123456789 </a></li>
                                        <li>Quality Guarantee Of Products</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <!--header top start-->
                <!--header middel start-->
                <div class="header_middle sticky-header">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-md-3 col-4">
                            <div class="logo">
                                <a href="/"><img src="~/assets/home/img/logo/logo.png" alt="" style="width:150px;height:100px;margin-left:10px;"></a>
                            </div>
                        </div>
                        @{Html.RenderAction("MainMenu", "Home");}
                        <div class="col-lg-3 col-md-7 col-6">
                            <div class="header_configure_area">
                                @{Html.RenderAction("Toplogin", "Home");}
                                @{ Html.RenderAction("HeaderCart1", "Home");}
                            </div>
                        </div>
                    </div>
                </div>
                <!--header middel end-->
                <!--mini cart-->
                @{ Html.RenderAction("HeaderCart", "Home");}
                <!--mini cart end-->
                <!--header bottom satrt-->
                <div class="header_bottom header_bottom7">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-6">
                            <div class="categories_menu categories_three">
                                @*<div class="categories_menu categories_seven">*@
                                <div class="categories_title">
                                    <h2 class="categori_toggle">DANH SÁCH LOẠI SẢN PHẨM</h2>
                                </div>
                                @{ Html.RenderAction("ProductCategory", "Product");}
                            </div>
                        </div>
                        <div class=" col-lg-6 colm_none">
                            <div class="search_container search_seven_c">
                                <form action="#">
                                    @*<div class="hover_category">
                                            <select class="select_option" name="select" id="categori2">
                                                <option selected value="1">All Categories</option>
                                                <option value="2">Accessories</option>
                                                <option value="3">Accessories & More</option>
                                                <option value="4">Butters & Eggs</option>
                                                <option value="5">Camera & Video </option>
                                                <option value="6">Mornitors</option>
                                                <option value="7">Tablets</option>
                                                <option value="8">Laptops</option>
                                                <option value="9">Handbags</option>
                                                <option value="10">Headphone & Speaker</option>
                                                <option value="11">Herbs & botanicals</option>
                                                <option value="12">Vegetables</option>
                                                <option value="13">Shop</option>
                                                <option value="14">Laptops & Desktops</option>
                                                <option value="15">Watchs</option>
                                                <option value="16">Electronic</option>
                                            </select>
                                        </div>*@
                                    <div class="search_box" style="border-left: 2px solid #ebebeb">
                                        <input placeholder="Tìm sản phẩm..." type="text">
                                        <button type="submit">Tìm kiếm</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                        @*<div class=" col-lg-3 col-md-6">
                                <div class="header_bigsale">
                                    <a href="#">BIG SALE BLACK FRIDAY</a>
                                </div>
                            </div>*@
                    </div>
                </div>
                <!--header bottom end-->
            </div>
        </div>
    </header>
    <!--header area end-->
    <!--slider area start-->
    @RenderSection("slide", required: false)
    @if (TempData["AlertMessage"] != null)
    {


        <div id="AlertBox" class="alert @TempData["AlertType"] hide" style="margin-left:13%;margin-right:13%;margin-top:15px;">
            @TempData["AlertMessage"]
        </div>
    }
    <!--banner area end-->
    <!--home section bg area start-->
    @RenderBody();

    <!--home section bg area end-->
    <!--footer area start-->
    <!--{Html.RenderAction("Footer", "Home");} // thêm ctrl + 2 vào trước html-->
    <footer class="text-center">
        <div class="container-fluid">
            FastFood 24h - Vị Ngon Trên Từng Ngón Tay - HUTECH Đại Học Công Nghê Thành Phố Hồ Chí Minh.
        </div>
    </footer>
    <!--footer area end-->
    <!-- modal area start-->
    <div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12">
                                <div class="modal_tab">
                                    <div class="tab-content product-details-large">
                                        <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="/assets/home/img/product/productbig2.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab2" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="/assets/home/img/product/productbig3.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab3" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="//assets/home/img/product/productbig4.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab4" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="/assets/home/img/product/productbig5.jpg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal_tab_button">
                                        <ul class="nav product_navactive owl-carousel" role="tablist">
                                            <li>
                                                <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="false"><img src="/assets/home/img/product/product1.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"><img src="/assets/home/img/product/product6.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a class="nav-link button_three" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false"><img src="/assets/home/img/product/product9.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a class="nav-link" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false"><img src="/assets/home/img/product/product14.jpg" alt=""></a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                <div class="modal_right">
                                    <div class="modal_title mb-10">
                                        <h2>Sit voluptatem rhoncus sem lectus</h2>
                                    </div>
                                    <div class="modal_price mb-10">
                                        <span class="new_price">$64.99</span>
                                        <span class="old_price">$78.99</span>
                                    </div>
                                    <div class="modal_description mb-15">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam in quos qui nemo ipsum numquam, reiciendis maiores quidem aperiam, rerum vel recusandae </p>
                                    </div>
                                    <div class="variants_selects">
                                        <div class="variants_size">
                                            <h2>size</h2>
                                            <select class="select_option">
                                                <option selected value="1">s</option>
                                                <option value="1">m</option>
                                                <option value="1">l</option>
                                                <option value="1">xl</option>
                                                <option value="1">xxl</option>
                                            </select>
                                        </div>
                                        <div class="variants_color">
                                            <h2>color</h2>
                                            <select class="select_option">
                                                <option selected value="1">purple</option>
                                                <option value="1">violet</option>
                                                <option value="1">black</option>
                                                <option value="1">pink</option>
                                                <option value="1">orange</option>
                                            </select>
                                        </div>
                                        <div class="modal_add_to_cart">
                                            <form action="#">
                                                <input min="1" max="100" step="2" value="1" type="number">
                                                <button type="submit">add to cart</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal_social">
                                        <h2>Share this product</h2>
                                        <ul>
                                            <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                            <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal area end-->
    <!-- JS
    ============================================ -->
    <!-- Plugins JS -->
    <script src="/assets/home/js/plugins.js"></script>

    <!-- Main JS -->
    <script src="/assets/home/js/main.js"></script>


    @RenderSection("jsFooter", required: false)
</body>

</html>