@model KetnoiCSDL.EF.Product

@{
    ViewBag.Title = "ChitietSp";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>THÔNG TIN CHI TIẾT SẢN PHẨM</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

       

        <dt>
           Tiêu đề:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaTitle)
        </dd>

        <dt>
           Miêu tả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
           Hình ảnh:
        </dt>

        <dd>
            <img src="@Url.Content("" + Model.Image)" width="120PX" />
        </dd>

        

        <dt>
           Giá sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price) VNĐ
        </dd>

        <dt>
            Loại sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>

        <dt>
            Chi tiết sản phẩm:
        </dt>

        <dd>
            @Html.Raw(Model.Detail)
        </dd>

        

        <dt>
            Ngày Tạo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            Trạng thái:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "SuaSp", new { id = Model.ID }) |
    @Html.ActionLink("TRỞ VỀ DANH SÁCH SẢN PHẨM", "Product")
</p>
