@model BunyStore.Models.ResetPasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="panel-heading">  <h4 style="text-align:center">Thay đổi mật khẩu</h4></div>
    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="signin-form">
            @if (ViewBag.Message == "Mật khẩu đã thay đổi thành công")
            {
                <div class="text-danger" style="color:green">
                    @ViewBag.Message
                    <br />
                    <a href="~/xem-thong-tin"></a>
                </div>
            }
            else
            {
                <div class="text-danger" style="color:red">
                    @ViewBag.Message
                </div>
            }
            <br />
            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
            <form>
                @Html.Label("Mật khẩu mới", htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
                <br />
                @Html.Label("Xác nhận mật khẩu", htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                <div>
                    @Html.HiddenFor(a => a.ResetCode)
                </div>
                <br />
                <input type="submit" value="Xác nhận" class="btn btn-default" />
            </form>

        </div>
    }
</div>

