@model KetnoiCSDL.EF.Order
@{
    ViewBag.Title = "DeleteOrderTrue";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>XÁC NHẬN THÔNG TIN ĐƠN HÀNG CẦN XÓA</h2>

<h3>Bạn có chắc chắn muốn xóa đơn hàng này ?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã đơn hàng:
        </dt>
        <dd>
            <span id="ID">@Html.DisplayFor(model => model.ID)</span>
        </dd>
        <dt>
            Tên khách hàng:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipName)
        </dd>

        <dt>
            SĐT:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipMobile)
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipEmail)
        </dd>
        <dt>
            Tình trạng đơn hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            Hình thức thanh toán
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentForms)
        </dd>
        <dt>
            Thời gian cập nhật gần nhất
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

    </dl>

    @*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()*@

        <div>
            <input id="delete" type="button" value="Xóa đơn hàng" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "OrderListAllCheck", new { page = 1 }, new { @class = "btn btn-info" })
        </div>
    @*}*@
</div>

@section jsFooter
{
    <script>
        $("#delete").click(function () {
            var id = $("#ID").text();
            var a = confirm("Bạn có chắc chắn muốn xóa?")
            if (a == true) {
                
                $.ajax({
                    type: "POST",
                    url: "/Admin/Orders/AccessDeleteCheck",
                    data: { id: id },
                    dataType: 'json',
                    success: function(res) {
                        if (res.status == true) {
                            window.location.href = "/Admin/Orders/OrderListAllCheck";
                        }
                    }
                })
                
            }
        });
    </script>

}

